@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      hsl(273, 75%, 66%) 60%,
      hsl(240, 73%, 65%)
    )
    no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  padding: 1rem 1rem 3rem;
  width: 90%;
  background-image: url("../img/bg-pattern-mobile.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.card-img {
  flex: 1;
  margin-bottom: -4.5rem;
}

#woman-desktop {
  display: none;
}
#woman-mobile {
  margin: auto;
  display: block;
  position: relative;
  top: -125px;
  right: 18px;
}

#box {
  display: none;
}

.faq {
  flex: 1;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem 0;
  color: hsl(238, 29%, 16%);
}

.question {
  padding: 0.3rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  margin-bottom: 0.5rem;
  color: hsl(240, 6%, 50%);
}
.q-btn {
  font-weight: 400;
  color: hsl(240, 6%, 50%);
  margin-bottom: 0.5rem;
  width: 100%;
  background: white;
  border: none;
  display: flex;
  justify-content: space-between;
}
.q-btn:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}
.answer {
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
}
.answer > p {
  width: 90%;
}

/* Toggle classes */
.closed {
  display: none;
}
.active {
  display: block;
}
.bold {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}
.flipped {
  transform: rotate(180deg);
  transition: 0.5s;
}

@media screen and (min-width: 500px) {
  .faq {
    width: 80%;
    align-self: center;
  }
}

@media screen and (min-width: 1025px) {
  .card {
    flex-direction: row;
    justify-content: center;
    min-height: 60%;
    min-width: 800px;
    max-width: 900px;
    padding: 3rem;
    margin: 0 auto;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-size: 80%;
    background-position: -190% center;
    background-repeat: no-repeat;
    padding: 1rem 1rem 1rem 0;
  }
  .card-img {
    overflow: hidden;
    padding-right: 3rem;
  }

  #woman-desktop {
    display: block;
    position: relative;
    width: 29rem;
    bottom: -50px;
    right: 78px;
  }
  #woman-mobile {
    display: none;
  }

  #box {
    display: block;
    position: relative;
    width: 191px;
    height: 184px;
    right: 54%;
    top: 175px;
    z-index: 3;
  }

  .faq {
    margin: 2rem 5rem 0 -7rem;
    width: 100%;
    align-self: flex-start;
  }

  h1 {
    margin-top: 2rem;
    text-align: left;
  }

  .question {
    margin: 0.8rem 0;
  }
  .answer > p {
    width: 100%;
  }
}
